*{
    margin:0;
}


.mainheading{
    text-align: center;
}

#maintext{
    height: 100%;
    margin-top: 10%;
    font-family: helvetica;
    font-size: 65px;
    font-weight: 500;
    color: #E4E4E4;
}

body{
    background: url("https://www.hdwallpapers.in/walls/new_york_skyline-wide.jpg") no-repeat center fixed;
    background: cover;
}


#nav{
    width: 110%;
    height: 7.5%;
    background-size: cover;
    position: fixed;
    z-index: 2;
}

#nav_wrapper{
    font-family: helvetica;
    font-size: 125%;
    height: 100%;
    width: 110%;
    background: #525252;
    margin-left:-10px;
    margin-right: 10px;
    margin-top: -8px;
    opacity: 0.65;
}

#nav_wrapper ul li {
    margin-right: 2%;
    list-style: none;
    display: inline;
    font-weight: bold;
    padding: 30px;
}

#nav_wrapper a{
    color: white;
    text-decoration: none;
    
}

#nav_wrapper ul li:hover{
    background: #94D5F1;
    transition:all 1s;
}

marquee {
    position:absolute;
    top:30%;
    color:Black;
}